[Desktop Entry]
Categories=Utilities
Comment[en_CA]=Incremental Snapshot Tool for /
Comment=Incremental Snapshot Tool for /
Exec=sudo ~/Scripts/rsync_snapshot/root_rsync_snapshot.sh
GenericName[en_CA]=
GenericName=
Icon=/home/plasma/Scripts/rsync_snapshot/timemachineapple.ico
MimeType=
Name[en_CA]=Rsync Snapshot Tool (/)
Name=Rsync Snapshot Tool (/)
Path=~/Scripts/rsync_snapshot
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
