[Desktop Entry]
Categories=Utilities
Comment[en_CA]=Incremental Snapshot Tool for /home
Comment=Incremental Snapshot Tool for /home
Exec=~/Scripts/rsync_snapshot/rsync_snapshot.sh
GenericName[en_CA]=
GenericName=
Icon=/home/plasma/Scripts/rsync_snapshot/timemachine.ico
MimeType=
Name[en_CA]=Rsync Snapshot Tool (/home)
Name=Rsync Snapshot Tool (/home)
Path=~/Scripts/rsync_snapshot
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
